apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
   {
      "server_url": "http://netbox.netbox-system.svc.cluster.local",
      "api_token": "0123456789abcdef0123456789abcdef01234567"
    }

